
/* Custom Language Switcher */
.lang-switcher-wrapper {
  margin: 10px 0;
  text-align: center;
}

#languageSelect {
  background: var(--eerie-black-2);
  color: var(--white-2);
  border: 1px solid var(--jet);
  padding: 8px 12px;
  border-radius: 10px;
  font-size: 14px;
  cursor: pointer;
  outline: none;
  width: 80%;
}

#languageSelect:hover {
  border-color: var(--orange-yellow-crayola);
}

/* Hide the Google Translate Component */
#google_translate_element {
  display: none;
}

/* Hide Top Bar (Optional, sometimes Google forces it) */
.goog-te-banner-frame.skiptranslate {
    display: none !important;
} 
body {
    top: 0px !important; 
}
.goog-tooltip {
    display: none !important;
}
.goog-text-highlight {
    background-color: transparent !important;
    border: none !important; 
    box-shadow: none !important;
}
